name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 0 1 * *" # at midnight on the first day of each month
  workflow_dispatch:

jobs:
  deno:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: taiki-e/install-action@just
      - uses: denoland/setup-deno@v2
        with:
          cache: true
      - run: just ci

  test-default:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - macos-latest
          - macos-15-intel
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./
      - run: flatc --version

  test-locked:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - macos-latest
          - macos-15-intel
          - windows-latest
        version:
          - "24.12.23"
          - "24.3.25"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          version: ${{ matrix.version }}
      - shell: bash
        run: |
          ACTUAL=$(flatc --version)
          EXPECTED="flatc version ${{ matrix.version }}"
          if [ "$ACTUAL" != "$EXPECTED" ]; then
            echo "Expected '$EXPECTED', got '$ACTUAL'"
            exit 1
          fi

  test-range:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - macos-latest
          - macos-15-intel
          - windows-latest
        version:
          - ["24.*", "24.12.23"]
          - ["24.3.*", "24.3.25"]
          - ["23.*", "23.5.26"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          version: ${{ matrix.version[0] }}
      - shell: bash
        run: |
          ACTUAL=$(flatc --version)
          EXPECTED="flatc version ${{ matrix.version[1] }}"
          if [ "$ACTUAL" != "$EXPECTED" ]; then
            echo "Expected '$EXPECTED', got '$ACTUAL'"
            exit 1
          fi
